<div class="well" ng-if="isAuthenticated">
  <form novalidate class="form-horizontal" ng-controller="MainCtrl as mainCtrl">

    <div>
      <h2 class="text-center">Vista Principal</h2>
      <h3 class="text-center">{{mainCtrl.front && 'Mostrador' || 'Cocina'}}</h3>
      <!--toggle-->
      <div style="display: inline-block;">
        <a style="text-align: right;" class="btn btn-secondary pull-right" ng-init="true"
           ng-class="{true: 'btn-primary', false: 'btn-secondary'}[!mainCtrl.front]"
           ng-click="mainCtrl.front = !mainCtrl.front">Cambiar a {{!mainCtrl.front && 'Mostrador' || 'Cocina'}}</a>

        <!--boton de actualizar-->
        <a ng-hide="true" type="button" name="button" ng-click="mainCtrl.getProducts()"
           class="btn btn-primary">Actualizar Vista</a>
      </div>

      <div ng-repeat="product in mainCtrl.products">

        <div id="{{product.id}}" class="col-md-4">

          <!--Card-->
          <div class="card card-cascade" style="text-align: center;">

            <!--Card image-->
            <div class="view overlay hm-white-light text-xs-center">
              <img src="../../assets/images/products/{{product.id}}.png" class="img-responsive" alt="{{product.name}}">
              <a href="/#/foodOrder">
                <div class="mask"></div>
              </a>
            </div>
            <!--/.Card image-->

            <!--Card content-->
            <div class="card-block text-xs-center">
              <!--Title-->
              <h4 class="card-title"><strong>{{product.name}}</strong></h4>

              <!--SubTitle-->
              <p class="card-text">{{product.description}}</p>

              <!--Info-->
              <!--<p ng-show="mainCtrl.isKitchen()" class="card-text"><strong>Pendientes: <span class="productPending">{{product.pending}}</span></strong>-->
              <p class="card-text"><strong>Pendientes: <span class="productPending">{{product.pending}}</span></strong>
              </p>

              <div class="form-group" ng-controller="LoginController as vm">
                <div class="FoodOrderActions">
                  <!--Ordenar-->
                  <div ng-show="mainCtrl.isFront()">
                    <span class="orderProduct">
                      <button type="button"
                              ng-disabled="!mainCtrl.isEnabledOrderProduct(product) || mainCtrl.hasStock(product) "
                              ng-click="mainCtrl.orderProduct(product, vm.authService.userProfile.nickname)"
                              class="btn btn-primary">Ordenar</button>
                    </span>
                    <span class="cancelOrderProduct">
                      <button type="button"
                              ng-disabled="!mainCtrl.isEnabledCancelOrderProduct(product)"
                              ng-click="mainCtrl.cancelOrderProduct(product, vm.authService.userProfile.nickname)"
                              class="btn btn-danger">Anular</button>
                    </span>
                  </div>
                  <!--Cocinar-->
                  <div ng-show="mainCtrl.isKitchen()">
                    <span class="cookProduct">
                      <button type="button"
                              ng-disabled="!mainCtrl.isEnabledCookProduct(product)"
                              ng-click="mainCtrl.cookProduct(product, vm.authService.userProfile.nickname)"
                              class="btn btn-secondary">Cocinar</button>
                    </span>
                    <span class="cookProduct">
                      <button type="button"
                              ng-disabled="!mainCtrl.isEnabledCancelCookProduct(product)"
                              ng-click="mainCtrl.cancelCookProduct(product, vm.authService.userProfile.nickname)"
                              class="btn btn-danger">Anular</button>
                    </span>
                    <span class="cookProduct">
                      <a style="text-align: right;" class="btn btn-danger pull-right" ng-init="true"
                         ng-class="{true: 'btn-danger', false: 'btn-secondary'}[!product.hasStock]"
                         ng-click="mainCtrl.modifyStock(product)">{{!product.hasStock && 'No' || ''}} Hay Stock</a>
                    </span>
                  </div>
                </div>
              </div>

            </div>
            <!--/.Card content-->

          </div>
          <!--/.Card-->

        </div>
      </div>
    </div>
  </form>


</div>
