<div class="well">
  <h2 class="text-center">Vista Principal</h2>
  <h3 class="text-center">Mostrador</h3>
  <form novalidate class="form-horizontal">

    <div ng-repeat="x in allProducts">
      <div ng-controller="NewFoodOrderCtrl">

        <div class="col-md-4">

          <!--Card-->
          <div class="card card-cascade">

            <!--Card image-->
            <div class="view overlay hm-white-light text-xs-center" style="height: 100px; width: 100px;">
              <!--<div class="view overlay hm-white-slight">-->
              <img src="../../assets/images/products/{{x.id}}.png" class="img-responsive" alt="{{x.name}}">
              <a href="#">
                <div class="mask"></div>
              </a>
            </div>
            <!--/.Card image-->

            <!--Card content-->
            <div class="card-block text-xs-center">
              <!--Title-->
              <h4 class="card-title"><strong>{{x.name}}</strong></h4>

              <!--SubTitle-->
              <p class="card-text">{{x.description}}</p>

              <div class="form-group">
                <div ng-show="false">
                  <label for="productId" class="col-sm-2 control-label">Food ID</label>
                  <label>
                    <input ng-init="setId(x.id)" required integer ng-model="newFoodOrder.productId" type="number"
                           class="form-control"
                           id="productId">
                  </label>
                </div>

                <div class="FoodOrderActions">
                  <!--Ordenar-->
                  <a type="button" name="button" ng-click="orderProduct(newFoodOrder)"
                     class="btn btn-primary">Ordenar</a>
                  <!--Cocinar-->
                  <a type="button" name="button" ng-click="cookProduct(newFoodOrder)"
                     class="btn btn-secondary">Cocinar</a>
                </div>
              </div>

            </div>
            <!--/.Card content-->

          </div>
          <!--/.Card-->

        </div>
      </div>
    </div>
  </form>


</div>
