language: node_js
sudo: required
node_js: '4'
before_install:
  - rvm install 2.2.3
install:
  - npm upgrade -g npm
  - npm install -g grunt grunt-cli bower yo generator-karma generator-angular
  - gem install compass
  - echo "1" | npm install
  - bower install
script:
  - grunt test
