<div class="well">
  <h2 class="text-center">Productos</h2>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Id</th>
      <th>Cant</th>
      <th>Nombre</th>
      <th>Descripcion</th>
      <th>Ordenar</th>
      <th>Cocinar</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="x in products">
      <td>
        <div class="form-group">
          <label for="productName">Food Name</label>
          <div>
            <input type="text" ng-model="newFoodOrder.productName" class="form-control" id="productName"> </input>
          </div>
        </div>
      </td>
      <td>
        <div class="form-group">
          <label for="productDescription">Description</label>
          <div>
            <input type="text" ng-model="newFoodOrder.productDescription" class="form-control" id="productDescription"> </input>
          </div>
        </div>
      </td>
      <td>
        <div class="form-group">
          <label for="productAmount">Amount</label>
          <div>
            <input value="{{1}}" type="number" ng-model="newFoodOrder.productAmount" class="form-control" id="productAmount"> </input>
          </div>
        </div>
      </td>

      <td>{{ x.productName }}</td>
      <td>{{ x.description }}</td>

      <td>
        <div class="form-group" ng-controller="NewFoodOrderCtrl">
          <div>
            <button type="button" name="button" ng-click="save(newFoodOrder)" class="btn">Ordenar</button>
          </div>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>
