<div class="well">
  <h2 class="text-center">Productos</h2>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Id</th>
      <th>Cant</th>
      <th>Nombre</th>
      <th>Descripcion</th>
      <th>Ordenar</th>
      <th>Cocinar</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="x in products">
        <td>
          <div class="form-group">
            <label for="idProduct">IdProduct</label>
            <div>
              <input value="1" ng-model="newFoodOrder.idProduct" class="form-control" id="idProduct">
            </div>
          </div>
        </td>
        <td>
          <div class="form-group">
            <label for="amount">Amount</label>
            <div>
              <input value="1" ng-model="newFoodOrder.amount" class="form-control" id="amount">
            </div>
          </div>
        </td>
  <!--
        <td><input ng-model="newFoodOrder.amount" id="amount" value="1"></td>
        <td>{{ x.id }}</td>
  -->
        <td>{{ x.name }}</td>
        <td>{{ x.description }}</td>
      <td>
        <div class="form-group">
          <div>
            <button type="button" name="button" ng-click="save(newFoodOrder)" class="btn">Ordenar</button>
          </div>
        </div>
      </td>
  <!--
        <td><button type="button" name="button" ng-click="save(newFoodOrder)" class="btn">{{'Ordenar'}}</button></td>
        <td><button type="button" name="button" ng-click="save(newFoodOrder(1,-1))" class="btn">{{'Cocinar'}}</button></td>
  -->
    </tr>
    </tbody>
  </table>
</div>
