<div class="well">
  <div ng-controller="FoodOrderClosureCtrl as foodOrderClosureCtrl">
    <h2 class="text-center">Auditoria de Cierres</h2>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Id</th>
        <th>Usuario</th>
        <th>Fecha de Cierre</th>
        <th>Fecha de Ejecución</th>
        <th>Detalles</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="foodOrderClosure in foodOrderClosureCtrl.ordersClosure | orderBy:'-id'">
        <td>{{ foodOrderClosure.id }}</td>
        <td>{{ foodOrderClosure.user }}</td>
        <td>{{ foodOrderClosure.momentClosure | date:'dd-MM-yyyy'}}</td>
        <td>{{ foodOrderClosure.moment | date:'dd-MM-yyyy hh:mm:ss'}}</td>
        <td><a href="/#/foodOrderHistory?date={{foodOrderClosure.momentClosure}}" ><i class="fa fa-eye fa-lg" aria-hidden="true"> Ver</i></a></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
