<div class="well">
  <h2 class="text-center">Generar Cierres</h2>

  <div class="form-group" ng-controller="ClosureCtrl as closureCtrl">


    <div class="container">
      <div class='col-md-3'>
        <label for="from" class="control-label">Desde</label>
        <div class='input-group date' id='from'>
          <input type='text' class="form-control"/>
          <span class="input-group-addon">
                    <button class="glyphicon glyphicon-calendar"></button>
                </span>
        </div>
      </div>

      <div class='col-md-3'>
        <label for="to" class="control-label">Hasta</label>
        <div class='input-group date' id='to'>
          <input type='text' class="form-control"/>
          <span class="input-group-addon">
                    <button class="glyphicon glyphicon-calendar"></button>
                </span>
        </div>
      </div>

      <div class='col-md-3'>
        <button type="button"
                ng-click="closureCtrl.showClosure()"
                class="btn btn-primary">Mostrar Cierre
        </button>
      </div>

      <div class='col-md-3'>
        <button type="button"
                ng-click="closureCtrl.generateClosure()"
                class="btn btn-primary">Generar Cierre
        </button>
      </div>
    </div>

    <table class="table table-striped">
      <thead>
      <tr>
        <th>Nombre</th>
        <th>Descripcion</th>
        <th>Ordenadas</th>
        <th>Órdenes</br>Canceladas</th>
        <th>Cocinadas</th>
        <th>Cocciones</br>Canceladas</th>
        <th>Pendientes</th>
        <th>Total</br>Cancelados</th>
        <th>Stock</th>
        <th>Fecha</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="closure in closureCtrl.clousures | orderBy: '-moment' && '-id'">
        <td>{{ closure.productName }}</td>
        <td>{{ closure.productDescription }}</td>
        <td>{{ closure.countOrder | abs }}</td>
        <td>{{ closure.countCancelOrder | abs }}</td>
        <td>{{ closure.countCooked | abs }}</td>
        <td>{{ closure.countCancelCooked | abs }}</td>
        <td>{{ closure.countDiff | abs }}</td>
        <td>{{ closure.countTotalCancel | abs }}</td>
        <td>{{ closure.countTotalStock | abs }}</td>
        <td>{{ closure.moment | date:'dd-MM-yyyy'}}</td>
        <br>
      </tr>
      </tbody>
    </table>

  </div>
</div>
