<div class="jumbotron">
  <h2 class="text-center"><img id="logo" src="../../assets/images/virtualkiosklogo.png"></h2>
  <h2 class="text-center title">Virtual Kiosk</h2>
  <div class="text-center details">
    <h5>
      <p>
        Es una plataforma web para un negocio gastronómico (más específicamente un kiosko).
        <br>
        Nos permite transmitir de manera inmediata y confiable los pedidos desde el mostrador al sector de la cocina.
      </p>
    </h5>
      Para comenzar a utilizar la aplicación, registrate.
  </div>

</div>
