<div class="well">
  <h2 class="text-center">Historial</h2>

  <div class="form-group" ng-controller="FoodOrderHistoryCtrl as historyCtrl">


    <div class="container">
      <div class='col-md-3'>
        <label for="producto" class="control-label">Producto</label>
        <div class='input-group' id='producto'>
          <input ng-model="historyCtrl.filterProductName" type='text' class="form-control"/>
        </div>
      </div>

      <div class='col-md-3'>
        <label for="from" class="control-label">Desde</label>
        <div class='input-group date' id='from'>
          <input type='text' class="form-control"/>
          <span class="input-group-addon">
            <button class="glyphicon glyphicon-calendar"></button>
          </span>
        </div>
      </div>

      <div class='col-md-3'>
        <label for="to" class="control-label">Hasta</label>
        <div class='input-group date' id='to'>
          <input type='text' class="form-control"/>
          <span class="input-group-addon">
            <button class="glyphicon glyphicon-calendar"></button>
          </span>
        </div>
      </div>

      <div class='col-md-3'>
        <button type="button"
                ng-click="historyCtrl.find()"
                class="btn btn-primary">Buscar
        </button>
      </div>
    </div>

    <table class="table table-striped">
      <thead>
      <tr>
        <th>Nombre</th>
        <th>Descripcion</th>
        <th>Ordenadas</th>
        <th>Órdenes</br>Canceladas</th>
        <th>Cocinadas</th>
        <th>Cocciones</br>Canceladas</th>
        <th>Pendientes</th>
        <th>Total</br>Cancelados</th>
        <th>Stock</th>
        <th>Fecha</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="ordersHistory in historyCtrl.orderHistories | filter: historyCtrl.filter | orderBy: '-moment' && '-id'">

        <td>{{ ordersHistory.productName }}</td>
        <td>{{ ordersHistory.productDescription }}</td>
        <td>{{ ordersHistory.countOrder | abs }}</td>
        <td>{{ ordersHistory.countCancelOrder | abs }}</td>
        <td>{{ ordersHistory.countCooked | abs }}</td>
        <td>{{ ordersHistory.countCancelCooked | abs }}</td>
        <td>{{ ordersHistory.countDiff | abs }}</td>
        <td>{{ ordersHistory.countTotalCancel | abs }}</td>
        <td>{{ ordersHistory.countTotalStock | abs }}</td>
        <td>{{ ordersHistory.moment | date:'dd-MM-yyyy'}}</td>
        <br>
      </tr>
      </tbody>
    </table>

  </div>
</div>
