<div class="well">
  <h2 class="text-center">Historial</h2>

  <div class="form-group" ng-controller="ClosureCtrl as closureCtrl">
    <div>
      <button type="button"
              ng-click="closureCtrl.generateClosure(1478329683892)"
              class="btn btn-primary">Generar Cierre</button>
    </div>
  </div>


  <table class="table table-striped">
    <thead>
    <tr>
      <th>Id</th>
      <th>Nombre</th>
      <th>Descripcion</th>
      <th>Cantidad</th>
      <th>Estado</th>
      <th>Fecha</th>
    </tr>
    </thead>
    <tbody ng-controller="FoodOrderHistoryCtrl">
    <tr ng-repeat="foodOrderHistory in ordersHistory">
      <td>{{ foodOrderHistory.id }}</td>
      <td>{{ foodOrderHistory.productName }}</td>
      <td>{{ foodOrderHistory.productDescription }}</td>
      <td>{{ foodOrderHistory.productAmount }}</td>
      <td>{{ foodOrderHistory.state }}</td>
      <td>{{ foodOrderHistory.moment | date:'dd-MM-yyyy'}}</td><br>
    </tr>
    </tbody>
  </table>
</div>
