<div class="well">
  <h2 class="text-center">Historial</h2>

  <div class="form-group" ng-controller="FoodOrderHistoryCtrl as historyCtrl">


    <div class="container">
      <div class='col-md-3'>
        <label for="producto" class="control-label">Producto</label>
        <div class='input-group' id='producto'>
          <input ng-model="historyCtrl.f.productName" type='text' class="form-control"/>
        </div>
      </div>

      <div class='col-md-3'>
        <label for="from" class="control-label">Desde</label>
        <div class='input-group date' id='from'>
          <input ng-model="historyCtrl.f.moment" ng-change="historyCtrl.filter_by_ge('moment')" type='text' class="form-control"/>
          <span class="input-group-addon">
            <button class="glyphicon glyphicon-calendar"></button>
          </span>
        </div>
      </div>

      <div class='col-md-3'>
        <label for="to" class="control-label">Hasta</label>
        <div class='input-group date' id='to'>
          <input ng-model="historyCtrl.f.moment" ng-change="historyCtrl.filter_by_le('moment')" type='text' class="form-control"/>
          <span class="input-group-addon">
            <button class="glyphicon glyphicon-calendar"></button>
          </span>
        </div>
      </div>

      <div class='col-md-3'>
        <button type="button"
                ng-click="historyCtrl.find()"
                class="btn btn-primary">Buscar
        </button>
      </div>
    </div>

    <table class="table table-striped">
      <thead>
      <tr>
        <th>Nombre</th>
        <th>Descripcion</th>
        <th>Cantidad de Órdenes realizadas</th>
        <th>Cantidad de Órdenes canceladas</th>
        <th>Cantidad de Cocciones realizadas</th>
        <th>Cantidad de Cocciones canceladas</th>
        <th>Fecha</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="ordersHistory in historyCtrl.orderHistories | filter: historyCtrl.f | orderBy: '-moment' && '-id'">

        <td>{{ ordersHistory.productName }}</td>
        <td>{{ ordersHistory.productDescription }}</td>
        <td>{{ ordersHistory.countOrder }}</td>
        <td>{{ ordersHistory.countCancelOrder }}</td>
        <td>{{ ordersHistory.countCooked }}</td>
        <td>{{ ordersHistory.countCancelCooked }}</td>
        <td>{{ ordersHistory.moment | date:'dd-MM-yyyy'}}</td>
        <br>
      </tr>
      </tbody>
    </table>

  </div>
</div>
