<div class="well" ng-if="isAuthenticated && logginWithBackend">
  <div ng-controller="NotArchivedFoodOrderCtrl as foodOrderCtrl">
    <h2 class="text-center">Ordenes Vigentes</h2>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Nombre</th>
        <th>Descripcion</th>
        <th>Cantidad</th>
        <th>Estado</th>
        <th>Usuario</th>
        <th>Fecha</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="foodOrder in foodOrderCtrl.orders | orderBy:'-id'">
        <td>{{ foodOrder.productName }}</td>
        <td>{{ foodOrder.productDescription }}</td>
        <td>{{ foodOrder.productAmount | abs }}</td>
        <td>{{ foodOrder.state }}</td>
        <td>{{ foodOrder.user }}</td>
        <td>{{ foodOrder.moment | date:'dd-MM-yyyy HH:mm:ss'}}</td>
        <br>
      </tr>
      </tbody>
    </table>
  </div>
</div>
