<div class="well">
  <h2 class="text-center">Ordenes</h2>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Id</th>
      <th>Nombre</th>
      <th>Descripcion</th>
      <th>Cantidad</th>
      <th>Fecha</th>
    </tr>
    </thead>
    <tbody ng-controller="FoodOrderCtrl">
    <tr ng-repeat="x in orders">
      <td>{{ x.id }}</td>
      <td>{{ x.productName }}</td>
      <td>{{ x.productDescription }}</td>
      <td>{{ x.productAmount }}</td>
      <td>{{ x.moment | date:'yyyy-MM-dd HH:mm:ss'}}</td><br>
    </tr>
    </tbody>
  </table>
</div>
